/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Top part styles apply */

body {
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey;
}

.top-section {
    width: 80%;
    background-color: lime;
    padding-left: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.container {
    background-color: honeydew;
    max-width: 1200px;
    height: 3306px;
    margin: 0 auto;
    padding: 0 30px;
}

.influ {
    padding-top: 25px;
    padding-left: 10px;
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.about-influ {
    width: 580px;
    height: 270px;
}

.font-size {
    font-size: 52px;
}

.button {
    background-color: #E02C6D;
    padding: 8px 20px;
    border-radius: 20px;
}

.color {
    color: white;
}

.main-camera img {
    width: 400px;
    margin-top: 50px;
}


/* top collection styles */

.top-collection {
    padding: 0 30px;
    margin-right: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    border-radius: 10px;
}

h4 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 25px;
}

.product {
    width: 250px;
    height: 450px;
    background-color: lightyellow;
    justify-content: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
}

.products .product-banner img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 10px;
    font-family: 'Poppins', sans-serif;
}

.fa-star.filed {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}


/* styles third sections */

.end-section {
    height: 270px;
    padding-top: 50px;
    margin-right: 20px;
}

.padding {
    width: 75%;
    padding-right: 40px;
}

.fonts {
    font-size: 38px;
}

.button2 {
    background-color: #E02C6D;
    padding: 8px 20px;
}

.button3 {
    background-color: honeydew;
    color: #E02C6D;
    width: 86%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    text-align: end;
    display: inline-block;
}

.butto {}