/*--------- Fonts
---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Top part styles apply */

body {
    font-family: 'Poppins', sans-serif;
    background-color: gray;
}

.top-section {
    width: 100%;
    justify-content: center;
}

.container {
    background-color: honeydew;
    max-width: 1200px;
    height: 2750px;
}

main .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.influ {
    padding-top: 25px;
    padding-left: 35px;
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
    padding-left: 20px;
}

.about-influ {
    width: 100%;
    height: 270px;
    padding-left: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid white;
}

.about-influ:hover {
    border: 5px solid rgb(40, 126, 155);
    cursor: pointer;
    transition-property: border;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.font-size {
    font-size: 30px;
}

.button {
    background-color: #E02C6D;
    padding: 8px 20px;
    border-radius: 20px;
}

.color {
    color: white;
}

.main-camera img {
    width: 442px;
    height: 300px;
    margin-top: 50px;
    border: 1px solid white;
}

.main-camera img:hover {
    border: 3px solid rgb(49, 155, 190);
    width: 460px;
    height: 300px;
    transition-property: border, width, height;
    transition-duration: 2s, 2s, 2s;
}


/* top collection styles */

.top-collection {
    padding: 0 30px;
    margin-right: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    margin-right: 20px;
    border-radius: 10px;
}

h4 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 25px;
}

.product {
    width: 200px;
    height: 415px;
    background-color: lightyellow;
    justify-content: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
}

.products .product-banner img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 10px;
    font-family: 'Poppins', sans-serif;
}

.ratting {
    font-weight: normal;
    font-size: 20px;
}

.fa-star.filed {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}


/* styles third sections */

.end-section {
    height: 270px;
    padding-top: 50px;
    margin-right: 20px;
}

.banner-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding-bottom: 30px;
}

.main-cameras img {
    padding-left: 50px;
    width: 70%;
    padding-top: 40px;
}

.about-influs {
    padding-left: 40px;
    width: 60%;
}

.fonts {
    font-size: 38px;
}

.button2 {
    background-color: #E02C6D;
    padding: 8px 20px;
}

.button2:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition-property: transform;
    transition-duration: 2s;
}

.button3 {
    background-color: honeydew;
    color: #E02C6D;
    width: 86%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    text-align: end;
    display: inline-block;
    padding-right: 50px;
}


/* Styles in footers */

.footer-section {
    justify-content: space-around;
    align-items: center;
}

footer {
    width: 1200px;
    height: 160px;
    padding-top: 30px;
    text-align: center;
    line-height: 30px;
    justify-content: center;
    background-color: #121212;
    align-items: center;
    padding-top: 50px;
}

.font-weight {
    font-size: 24px;
}

footer,
small {
    display: block;
    color: #D9DBE1;
}

.fab {
    font-size: 20px;
    margin-right: 10px;
}


/*------- Media Quary
-------------------- */


/* ---------------
Mobile Divices
--------------- */

@media only screen and (max-width:687px) {
    .container {
        height: 100%;
        text-align: center;
    }
    .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        justify-content: center;
    }
    .about-influ {
        width: 80%;
    }
    .products {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-camera img {
        width: 80%;
    }
    .banner-features {
        width: 105%;
        display: flex;
        min-height: 50px;
        flex-direction: column;
        background-color: honeydew;
    }
    .footer-section {
        width: 105%;
    }
}

@media only screen and (min-width:687px) and (max-width:993px) {
    footer {
        display: flex;
        align-items: center;
        display: block;
    }
    .footer-section {
        width: 103%;
    }
}